#slider{
    margin: 0 auto;
    padding: 20px;
    width: 60vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;

}
#slider img {
    height: 100%;
    margin: 0px auto;

}
#slider .slider--buttons{
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 5px;
    font-size: 2rem;
    border-radius: 50%;
    color: red;
}
#slider .slider--buttons:hover{
    cursor: pointer;
}
.right{
    transform: translateX(50vw) translateY(80px);
}
.left{
    transform: translateY(80px) translateX(0vw);    
}
#information input{
    width: 50px;
    height: 25px;
    margin: 15px 0px;
}
#information .changePrice{
    border-radius: 0px;
    margin: 0px 2px;
}
#information button{
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background-color: red;
    color: white;
}
#information button:hover{    
    background-color: rgb(133, 1, 1);
    color: white;
    cursor: pointer;
}
#information .cart{
    margin: 10px auto;
    font-size: 1.2rem;
    padding: 10px 40px;
}
#information p{
    text-align: left;
    padding-left: 10px;
}